@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Cairo:wght@200..1000&display=swap');

@font-face {
  font-family: Quantico;
  src: url('fonts/quantico.ttf') format('truetype');
}

@font-face {
  font-family: Cairo;
  src: url('fonts/cairo.ttf') format('truetype');
}

  body {
    background-color: var(--primary-color);
    text-align: center;
  }

  main {
    max-width: 70%;
    margin: auto; 
    text-align: center;
    padding-bottom: 8px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }

  h1 { /* default is 2em */
    font-size: 2.2em;
  }

  h2 { /* default is 1.55em */
    font-size: 1.7em;
  }

  h3 { /* default is 1.2em */
    font-size: 1.4em;
    margin-top: -25px;
  }

  h4 {
    font-size: 1.2em;
  }

  p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 0.55em;
    font-size: 1.2em;
  }

  .topsection {
    background-color: var(--nav-background-color);
    margin: 0 none;
    padding: none;
    max-height: 8.75%;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
  }

  footer {
    min-height: 30px;
    border: 1px solid var(--accent1-color);
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    background-color: var(--footer-background-color);
    font-size: 1em;
    right: 0px;
    left: 0px;
    bottom: 0px;
    position: static;
  }

  nav a {
    text-align: center;
    padding: 12px;
    font-family: var(--heading-font);
    color: var(--nav-link-color);
    font-size: 1.2em;
    text-decoration: none;
  }

  nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    text-decoration: underline;
  }

  a {
    text-align: center; 
    color: var(--nav-link-color);
    text-decoration: none;
  }

  a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    text-decoration: underline;
  }

  .space {
    padding: 10px;
  }

  .chonker, .minichonker {
    min-height: 500px;
    border: 1px solid var(--accent1-color);
    padding: 5px;
    max-width: 85%;
    margin: auto;
  }

  .minichonker {
    min-height: 200px;
  }

  .middletext {
    text-align: center;
    align-content: center;
  }

  .thinchonker {
    min-height: 200px;
    border: 1px solid var(--accent1-color);
    padding: 5px;
    max-width: 70%;
    margin: auto;
  }

  .sides {
    align-items: center;
    text-align: center;
  }

  .leftside {
    position: absolute;
    left: 15px;
    min-width: 18%;
    min-height: 80%;
    max-width: 18%;
    align-items: middle;
  }

  .rightside {
    position: absolute;
    right: 15px;
    min-width: 18%;
    min-height: 80%;
    max-width: 18%;
    align-items: middle;
  }

  .imgchonker {
    border: 1px solid var(--accent1-color);
    padding: 5px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    color: var(--paragraph-color-on-white);
    font-family: var(--paragraph-font);
    font-size: 1.1em;
  }

  .imgbumper {
    min-height: 250px;
    min-width: 80%;
    margin-bottom: 10px;
  }

  .imgbumper0 {
    min-height: 175px;
    min-width: 80%;
    margin-bottom: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  ul {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 1em;
    font-size: 1.2em;
    text-align: center;
  }

  li {
    text-align: center; 
    padding: 5px;
    list-style-position: inside;
  }

  .quote {
    text-align: left;
    font-family: Quantico, sans-serif;
    font-size: 0.9em;
  }